// Since we pass this in an object, these fields automatically
// are populated with that object's properties if the symbol
// matches the database column.
- if session[:needs_info]
  %div.span-24.last
    Your profile is incomplete! Please fill out this information to continue signup.
%div.span-4.clear
  &nbsp;
%div.span-16
  %table
    %tbody
      - form_for(@person) do |f|
        %tr
          %td Name: 
          %td= f.text_field :name
        %tr
          %td CaseID:
          %td= session[:cas_user]
        %tr
          %td Phone Number (for SMS):
          %td= f.text_field :phone
        %tr
          %td{:colspan=>2}
            = f.submit
