// Since we pass this in an object, these fields automatically
// are populated with that object's properties if the symbol
// matches the database column.
.content
  =@person.name
  %br
  =@person.phone
  %br
  =@person.caseid
