%h2.dink Infraction Reported.
%br
%b=@offender.person.name
now has a total of 
%b=@num_infractions.to_s + " infraction(s) "
with a total severity of 
%b=calc_total_severity(@offender).to_s + "."

%br
%br

=link_to "View all of " + @offender.person.name + "'s infractions", registration_infractions_url(@offender), :class=>"admin"
