%div.span-16
  %table
    %thead
      %th.admin{:colspan=>2}Report an Infraction
    %tbody
      %tr
        -form_for(@infraction, :url => registration_infractions_path, :html => {:method => :post}) do |f|
          %tr
            %td=f.label :registration_id, "Offender:"
            %td=select :infraction, :registration_id, @players.collect{|x| [x.person.name, x.id]}, :default => @registration
          %tr
            %td=f.label :severity, "Severity:"
            %td=select :infraction, :severity, [1, 2, 3].map{|s| [s.to_s + " - " + severity_description(s), s]}
          %tr
            %td=f.label :reason, "Reason:"
            %td=f.text_area :reason
          %tr
            %td
            %td Reasons will be visible to the player. Please include a detailed account of the infraction.
          %tr
            %td
            %td=f.submit "Report Infraction"
