- unless flash[:notice].nil?
  %div.notice=flash[:notice]
%div
  %table
    %thead
      %th{:colspan=>2} Edit Note
    %tbody
      -form_for(@contact_message) do |j|
        %tr
          %td= j.label :note, "Notes regarding this: "
          %td= j.text_area :note
        %tr
          %td
            &nbsp;
          %td=j.submit "Submit Comment"
  
