%div.admin
  %div.span-4
    = link_to "Manage Games", games_url()
  %div.span-4
    = link_to "Manage Players", registrations_url()
  %div.span-4
    = link_to "Manage Missions", list_mission_url()
  %div.span-4
    = link_to "View Messages", list_contact_messages_url()
  %div.span-4
    Game Tools
  %div.span-4.dink.hvzcore.last
    HvZ Core
