%div.span-16.gameinfo
  %h2.dink Game Information
  =RedCloth.new(@current_game.information).to_html.html_safe
%div.span-5.last.quickstats
  - unless @current_game.id.nil?
    %h2.dink Game Status
    %table
      - cache({:controller => "games", :action=>"show", :action_suffix=>"gamestats", :id=>@current_game}, :expires_in => 1.minute) do
        = render :partial => "games/gamestats"
  %h2.dink 
    Recent Updates
  %ul
  - @items[0,5].each do |i|
    - if i.is_a?(Tag)
      %li= tag_text(i)
    - if i.is_a?(CheckIn)
      %li= checkin_text(i)
  %h2.dink 
    Sponsors
  =image_tag "rhalogo.jpg", :width=>"100"
  %br
  %br
  =image_tag "USGlogo.jpg", :width=>"100"
  %br
  =@items
  - unless @current_game.id.nil?
    %h2.dink
      OZ Family Tree
    %table
      -cache({:controller => "games", :action=>"show", :action_suffix=>"oz_tree", :id=>@current_game}, :expires_in => 5.minutes) do
        - @ozs.each do |z|
          %tr
            %td=z.person.name
            %td=z.total_deaths_associated

