%div.span-16.gameinfo
  %h2.dink Game Information
  =RedCloth.new(@current_game.information).to_html.html_safe
%div.span-6.last.quickstats
  %h2.dink Status
  %table
    - cache({:controller => "games", :action=>"show", :action_suffix=>"gamestats", :id=>@current_game}, :expires_in => 1.minute) do
      = render :partial => "games/gamestats"
  %h2.dink Recent Updates
  %h2.dink Sponsors
