%div.span-16.gameinfo
  %h2.dink Game Information
  =RedCloth.new(@current_game.information).to_html.html_safe
%div.span-5.last.quickstats
  - unless @current_game.id.nil?
    %h2.dink Game Status
    %table
      = render 'games/gamestats', game: @current_game 
 %h2.dink 
    Recent Updates
/  %ul
  - @items[0,5].each do |i|
    - if i.is_a?(Tag)
      %li= tag_text(i)
    - if i.is_a?(CheckIn)
      %li= checkin_text(i)
  %h2.dink 
    Sponsors
  =image_tag 'bgc_logo_small.png', :width=>'125'
  =image_tag "USGlogo.jpg", :width=>"100"
