.row.error
  %h1.dink Important!
  You cannot legally sign the waiver because you are under 18.
  .clear
  You must have parental consent to play HvZ. Here's how you get it:
  %ol
    %li
      Send the Waiver to your parents (it's on the
      =link_to 'Rules page', rules_game_path(Game.current)
      )
    %li
      Have them send a signed copy back to casehvz@gmail.com
  You should continue registering for the game now and get the waiver in before
  the game starts.
