%div.span-11
  %table
    %thead
      %th{:colspan=>2} Person Details
    %tbody
      =form_for (@person) do |f|
        %tr
          %td=f.label :name, "Full Name:"
          %td=f.text_field :name
        %tr
          %td=f.label :caseid, "Case ID:"
          %td=@person.caseid
        %tr
          %td=f.label :phone, "Phone:"
          %td=f.text_field :phone
        -if @is_admin
          %tr
            %td.admin=f.label :is_admin, "Is Admin?"
            %td=f.check_box :is_admin
        %tr
          %td{:colspan=>2, :style=>"text-align:center"}
            = f.hidden_field :id
            = f.submit "Save Changes"
%div.span-11.last
  %table
    %thead
      %th{:colspan=>2} Registration Details
    %tbody
      =form_for (@registration) do |f|
        %tr
          %td=f.label :card_code, "Card Code:"
          %td=f.text_field :card_code, :disabled => :true
        %tr
          %td=f.label :wants_oz, "Wants OZ?"
          %td=f.check_box :wants_oz
        -if @is_admin
          %tr
            %td.admin=f.label :squad, "Squad"
            %td=collection_select :registration, :squad_id, @squads, :id, :name, {:include_blank => true}
          %tr
            %td.admin=f.label :is_off_campus, "Is Off Campus?"
            %td=f.check_box :is_off_campus
          %tr
            %td.admin=f.label :is_oz, "Is OZ?"
            %td=f.check_box :is_oz
        %tr
          %td{:colspan=>2, :style=>"text-align:center"}=f.submit "Save Changes"
- if @is_admin
  %div.span-11.clear
    %table
      %thead
        %th.admin Admin Options
      %tbody
        %tr
          %td 
            =link_to("Convert To Zombie", new_tag_url(), :class=>"admin")
