- unless @registrations.empty?
  %table
    %thead
      %th Full Name
      %th Case ID
      %th Current Faction
      %th Registration Code
      %th Score
      %th Wants OZ?
      %th Is OZ?
      %th.admin Edit
      %th.admin Unregister
    %tbody
      - @registrations.each do |r|
        - if r.person.nil?
          %tr
            %td{:colspan=>9, :style=>"text-align:center"} Error - Missing Record
          - next
        %tr
          %td=r.person.name
          %td=r.person.caseid
          %td=faction_id_to_class(r)
          %td=r.card_code
          %td=r.score
          %td=r.wants_oz
          %td=r.is_oz
          %td=link_to("Edit", edit_registration_url(r), :class=>"admin")
          %td=link_to("Unregister", registration_url(r), :class=>"admin", :method=>:delete, :confirm=>"Are you sure you wish to delete this registration?")
- else
  No players found!
  %br
  %br
  Quick! Do more advertising!
