- unless @registrations.empty?
  %h3.dink Currently Registered:
  %table
    %thead
      %th Full Name
      %th Case ID
      %th{:style=>"text-align:center"} Current Faction
      %th{:style=>"text-align:right"} Score
      %th{:style=>"text-align:center"} Wants OZ?
      %th.admin Has Waiver?
      %th.admin Edit
      %th.admin Infractions
      %th.admin Unregister
    %tbody
      - @registrations.each do |r|
        - if r.person.nil?
          %tr
            %td{:colspan=>9, :style=>"text-align:center"} Error - Missing Record
          - next
        %tr
          %td{:class=>("admin nocenter" if r.person.is_admin)}
            %acronym{:title=>r.card_code}
              =r.person.name
              ="(OZ)" if r.is_oz
          %td=r.person.caseid
          %td{:style=>"text-align:center"}=faction_id_to_class_human(r)
          %td{:style=>"text-align:right"}=r.score
          %td{:style=>"text-align:center"}="Yes" if r.wants_oz
          %td{:style=>"text-align:center"}
            -if r.has_waiver
              %b Yes 
              =link_to("[No]", submit_waiver_url({:id=>r.id,:has=>:false}), :class=>"admin")
            - else
              =link_to("[Yes]", submit_waiver_url({:id=>r.id, :has=>:true}), :class=>"admin")
              %b No              
          %td{:style=>"text-align:center"}=link_to("Edit", edit_registration_url(r), :class=>"admin")
          %td{:style=>"text-align:center"}=link_to("Report", new_registration_infraction_url(r), :class=>"admin")
          %td{:style=>"text-align:center"}=link_to("Unregister", registration_url(r), :class=>"admin", :method=>:delete, :confirm=>"Are you sure you wish to delete this registration?")
- else
  No players registered!
  %br
  Quick! Do more advertising!
%h3.dink Unregistered Folks:
%table
  %thead
    %th Name
    %th Case ID
    %th Is Admin?
    %th.admin Edit
  %tbody
    - @allpeople.each do |p|
      %tr
        %td{:class=>("admin nocenter" if p.is_admin)}=(p.name or "[unknown]")
        %td=p.caseid
        %td=p.is_admin
        %td=link_to("Edit", edit_person_url(p), :class=>"admin")
