%h2.dink
  = @current_game.short_name + " Registration (Step 3 of 3)"
%div.registration
  = render 'under18' if !@person.legal_to_sign_waiver?
  %div#infotable
    %table
      %thead
        %th{:colspan=>2} Game Information:
      %tr
        %td
          %b Game Begins:
        %td=@current_game.to_s(:game_begins)
      %tr
        %td
          %b Game Ends:
        %td=@current_game.to_s(:game_ends)
    %table
      %thead
        %th{:colspan=>2} Your Information:
      %tbody
        %tr
          %td
            %b Name:
          %td
            =@person.name
        %tr
          %td
            %b CaseID:
          %td
            =@person.caseid
        %tr
          %td
            %b Phone Number:
          %td
            =@person.phone
  %div#signuptable
    %table
      %thead
        %th{:colspan=>2} Registration:
        = form_for(@registration) do |f|
          %tr
            %td
              %b=f.label :wants_oz, "Place me in the Original Zombie Pool! \n Note- An Original Zombie should dedicate at least 6 hours to hunting in the first 3 days:"
            %td
              =f.check_box :wants_oz
          %tr
            %td
              %b=f.label :is_off_campus, "I currently live off-campus:"
            %td
              =f.check_box :is_off_campus
          %tr
            %td
              %b=f.label :squad_select, "Squad:"
            %td
          %tr
            %td{:style=>"text-align:right", :colspan=>2}
              %hr
              =radio_button_tag(:squad_select, "existing")
              =label_tag(:squad_select_existing, "Join an existing squad")
              %br
              =collection_select(:registration, :squad_id, @squads, :id, :name,
                {:disabled => lambda{|s| !s.can_be_joined?}})
              %hr
              =radio_button_tag(:squad_select, "create")
              =label_tag(:squad_select_create, "Create a new Squad")
              %br
              Name:
              =text_field_tag(:new_squad_name)
              %hr
              =radio_button_tag(:squad_select, "later")
              =label_tag(:squad_select_later, "I'll join a squad later")
          %tr
            %td{:colspan=>2}
              =f.submit "Register!"
Don't want to register just yet? It's all good. Registration is open until
= @current_game.to_s(:registration_ends) + "."
