%h2.dink Registered!

Your card code is:
%h2= @registration.card_code

-if @registration.squad.nil?
  You are not a member of a squad.
  %br
  =link_to "Join or Create a Squad", squads_url()
-else
  You are a member of the squad:
  %h2= @registration.squad.name
-if @current_game.ongoing?
  You are currently
  - if @registration.is_human?
    a Human
  - elsif @registration.is_zombie?
    a Zombie
  - else
    Deceased
  = " with " + @registration.score.to_s + " points."
%br

=link_to "View Infractions", registration_infractions_url(@registration)
