@import "blueprint/grid";
@import "blueprint/colors";

div#content {
  th {
    text-align:center;
  }
  div#game_statistics {
    @include prepend(1);
    @include column(5);
  } 
  div#game_graph {
    @include column(11);
  }
  div#game_tags {
    @include column(5, true);
    .tagger {
      color: lighten($font_color, 40%);
    }
    .tagged {
      font-weight:bold;
    }
  }
  div#game_squads { 
    @include prepend(1);
    @include column(25);
  }
  div#game_players {	
    @include prepend(1);
    @include column(25);
  }
} 
