@import "partials/base";

$blueprint_grid_columns: 26;
@import "blueprint/grid";
@import "blueprint/colors";

div#content {
  th {
    text-align:center;
  }
  div#game {
    @include container;

    div#game_header {
      @include column(26);
    }

    div#view_links_container {
      @include column(26);
      background-color: white;
      /*border-top: 3px solid $bg_color; */
      border-bottom: 1px solid $header_bottom_border_color;
      clear:both;
      padding-bottom:1px;
      
      #magic-line {
        position: absolute; 
        bottom: -3px; 
        left: 0; 
        width: 100px; 
        height: 3px; 
        background: darken($blueprint_table_header_color, 30%);
      }

      ul#view_links {
        margin: 0 auto; 
        list-style: none; 
        position: relative;
        height:29px;

        li {
          display:inline-block;

          a {
            color: $font_color; 
            font-size: 14px; 
            display: block; 
            float: left; 
            padding: 4px 25px;
            text-decoration: none; 
            &:hover {
              color: black;
              background-color: $bg_color;
            }
          }
        }
      }
    }

    div#statistics {
      @include prepend(1);
      @include column(5);
    } 
    div#graph {
      @include column(14);
      margin-top: -5px;
    }
    div#tags {
      @include column(5, true);
      .tagger {
        color: lighten($font_color, 40%);
      }
      .tagged {
        font-weight:bold;
      }
    }
    div#game_content {
      clear:both;
      padding-top:20px;
      div#content_players {
        @include prepend(1);
        @include column(11);

        div#logged_in_player {
          padding-bottom:20px;
        }
      }
      div#content_squads {
        @include prepend(1);
        @include column(10);
      }
      div#sort_table {
        font-weight:bold;
        text-align: left;
        padding-bottom:10px;

        #filter_name {
          width:100px;
        }
      }
      div.player {
        height: 45px;
        padding: 10px 10px 10px 5px;
        clear: both;
        
        &.human { border-left: 10px solid #25A; .rank { background-color: #25A; } }
        &.zombie { border-left: 10px solid darken($blueprint_table_header_color, 30%); }
        &.deceased { border-left: 10px solid white; }
        &.admin { .name { color: $admin_header_color; } }

        &:hover { background-color: #EFEFEF; cursor: pointer; }
        span { display: block; float:left; }
        .rank { font-size: 1.4em; line-height:45px; width:30px; font-weight:bold; }
        .name { width:200px; font-size: 1.4em; text-align: left; padding-left:10px; overflow:hidden; font-weight:bold; }
        .points { font-size: 1.4em; float:right; }
        .status {  width: 200px; padding-left:10px; text-align:left; }
        .faction { float:right; }
        .pic { padding-top: 8px; padding-right:10px }
      }
    }
  }
} 
