// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/_base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";
// Import the non-default scaffolding module.
@import "blueprint/scaffolding";

// Import colors for error messages and stuff.
@import "blueprint/interaction";
@import "compass/utilities/tables";
@import "compass/css3/box-shadow";

// Generate the blueprint framework according to your configuration:
@include blueprint;

@include blueprint-scaffolding;

.blueprint {
	
	@include container;
	@include prepend-top(15px);
	overflow:auto;
	@include pie-clearfix;
	@include box-shadow(#999, 0px, -5px, 6px, -2px);
	background: url("/images/bg_test.png") repeat-x;

	h1 {
		font-size:4em;
	}
	h2 {
		font-size:2em;
	}

	.heading {
		width:100%;
		margin:20px auto 0px;
		text-align:center;
		background: url("/images/logo_small.png") no-repeat -32px 0px;

		.navigation {
			background-color:$hvz-green;
			clear:both;
			font-size:1.4em;
			height:30px;
			@include append-bottom(15px);
		}

	}

	.heading h1{
		font-family:'Dink';	
	}
	.dink {
		font-family:'Dink';
	}
	.container {
		background-color:#FFF;
	}
	.content {
		text-align:center;
		@include prepend-top(10);
		@include prepend(1);
		@include column(22);
		.gameinfo {
			text-align:left;
		}
		.quickstats {
			text-align:right;

			table {
				margin-left:auto;
				width:150px;
			}
		}
	}
	.info {
		@include prepend(4);
		@include column(19);
		@include append-bottom(20px);
	}
}
div.game {
	table.players {
	}
	table.ozs {
	}
}
div.registration {
	@include column(24);

	#infotable {
		@include prepend(2);
		@include column(8);
	}
	#signuptable {
		@include column(11);
		@include append(2);
	}
}
.error {
	@include error();
}

@font-face {
	font-family:'Dink';
	src:url('/fonts/DINk.ttf') format('truetype')
}
