- registrations_by_faction = game.registrations.group(:faction_id).count
%tbody
  - Registration::FACTION_NAMES.each do |faction_id, faction_name|
    %tr
      %td
        %b #{faction_name.capitalize}:
      %td
        = registrations_by_faction[faction_id]
  %tr
    %td
      %b Total:
    %td
      = registrations_by_faction.values.sum
