%tbody
  %tr
    %td
      %b Human:
    %td
      = @players.map{|x| x if (x.faction_id == 0 and x.is_oz != true)}.compact.length
  %tr
    %td
      %b Zombie:
    %td
      = @players.map{|x| x if (x.faction_id == 1 or x.is_oz == true)}.compact.length
  %tr
    %td
      %b Deceased:
    %td
      = @players.map{|x| x if x.faction_id == 2}.compact.length
  %tr
    %td
      %b Total:
    %td
      = @players.length
