%tbody
  %tr
    %td
      %b Human:
    %td
      = game.registrations.map{|x| x if x.faction_id == 0}.compact.length
  %tr
    %td
      %b Zombie:
    %td
      = game.registrations.map{|x| x if x.faction_id == 1}.compact.length
  %tr
    %td
      %b Deceased:
    %td
      = game.registrations.map{|x| x if x.faction_id == 2}.compact.length
  %tr
    %td
      %b Total:
    %td
      = game.registrations.length
