%tbody
  %tr
    %td
      %b Human:
    %td#human_count
      ??
  %tr
    %td
      %b Zombie:
    %td#zombie_count
      ??
  %tr
    %td
      %b Deceased:
    %td#deceased_count
      ??
  %tr
    %td
      %b Total:
    %td#total_count
      ??
