%tbody
  %tr
    %td
      %b Human:
    %td
      = @players.where(faction_id: 0).count
  %tr
    %td
      %b Zombie:
    %td
      = @players.where(faction_id: 1).count
  %tr
    %td
      %b Deceased:
    %td
      = @players.where(faction_id: 2).count
  %tr
    %td
      %b Total:
    %td
      = @players.count
