%div.player{:class => faction_id_to_class(player).downcase}
  %ul
    %li.number
      = number.to_s +  "."
    %li.picture.right
      %img{:width=>"30", :height=>"30"}
    %li.name.right
      - unless player.person.nil?
        = player.person.name
        - unless player.infractions.empty?
          ="(" + get_total_severity(player).to_s + " strikes)"
      - else
        \[Unknown Player]
    %li.survival.right
      = get_scoreboard_text(player).html_safe
    %li.points.right
      %span.highlight=player.display_score 
      Pts
