%div.span-22.last
  %table.gamelist
    %thead
      %th Game
      %th Players
      %th Victor
      - if @is_admin
        %th.admin Edit Link
    %tbody
      - @games.each do |g| 
        %tr
          %td.name=link_to(g.short_name, game_url(g))
          %td NumPlayers
          %td Victor
          - if @is_admin
            %td.admin=link_to "Edit Link", edit_game_url(g)
  = link_to("Add New Game", new_game_url(),:class=>"admin") if @is_admin
