= stylesheet_link_tag "compiled/scoreboard"
= javascript_include_tag "scoreboard"
= javascript_include_tag "highcharts"

%div#game
  %h2.dink=@game.short_name + " (" + @game.dates[:date_range] + ")"
  %div#game_header
    %div#statistics
      %table
        %thead
          %th{:colspan=>2}
            Players:
          = render :partial => "gamestats"
    %div#graph
      Loading Graph...
    %div#tags
      %table
        %thead
          %th{:colspan=>2}
            %b Original Zombies:
        -# TODO: Make this into its own partial.
        %tbody#ozs
          %tr
            %td ???
            %td ???
  %div#view_links_container
    %ul.group.dink#view_links
      %li.current_page_item
        %a{:href=>"#"} Players &amp; Squads
      %li 
        %a{:href=>"#"} Achievements
      %li 
        %a{:href=>"#"} Zombie Tag Tree
      %li 
        %a{:href=>"#"} Tag Heatmap
  %div#game_content
    %div#content_players
      %h3.dink Top Players
      %h3.dink#alphabetize Alphabetize
      %div#player_list
    %div#content_squads
      %h3.dink Top Squads
      %div#squad_list
  %div.span-2.last
    &nbsp;
