.admin=link_to "Feed The Whole Horde", feeds_create_url(:mass_feed => 'true'), :confirm => "Are you sure you wish to feed the whole horde?"
.admin=link_to "Mass Texts", text_game_path(params[:id])
.admin=link_to "Manage Caches", bonus_codes_path