//= require shared/autocomplete_dropdown
@import "partials/base";
@import "compass";

html, body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2em;
}

.dink {
  font-family: 'Dink';
}

.content {
  @include min-height(600px);

  .gameinfo {
    text-align:left;
  }

  .quickstats {
    text-align:right;

    table {
      margin-left:auto;
      width:150px;
    }
  }

  #gametree {
    @include box-shadow(darken(#EFEFEF, 20%), 0px, 0px, 30px, 0px, inset);
    height:600px;
    background-color:#EFEFEF;
  }
}

.footer {
  text-align:center;
  padding:5px 0px;
  color: #666;
   border-bottom:3px solid $hvz-green;
   background-color: lighten($hvz-green,20%);
   a { color: #666; }
}

.missionlist {
  font-size:24px;
}

div.game-header div {
  margin:10px 0 30px 0;
}

@font-face {
  font-family:'Dink';
  src: url('/fonts/DINk.ttf') format('truetype')
}

th.admin {
  text-align:center;
  background-color: $admin-red;
  color:#FFF;

  a {
    color:#FFF;
  }
}

td.admin {
  text-align:center;
  color:$admin-red;

  a {
    color:$admin-red;
  }
}

td.nocenter {
  text-align:left;
}
a.admin {
  color:$admin-red;
}

/* For games#index, games#list page */
table.gamelist {
  tbody tr td {
    height:60px;
  }
  td.name {
    font-size: 2em;
  }
}

textarea {
  max-width: 390px;
}
