Humans: 
%b=@humans.length
| Zombies:
%b=@zombies.length
%br 
%br
%ol
  - @attendances.each do |a|
    %li
      =(a.registration.person.name + ' [').html_safe
      =(link_to("x",attendance_url(a), :method=>:delete) + ' ]').html_safe
      -if not @feeds.include?(a.registration_id) and not @humans.include?(a.registration_id)
        [un-fed]
