- content_for :javascripts do
  :javascript
    $(function() {
      var players = #{render 'shared/player_list', game: @game},
          attendingPlayers = new HvZ.AttendingPlayers({
            players: players,
            missionId: #{@mission.id},
          });
    });
#playerList
#attendingPlayers
