%table
  %thead
    %th Mission Title
    %th Start Time
    %th Edit Link
    %th Delete Link
    %th Attendance
  %tbody
    - @missions.each do |m|
      %tr
        %td=m.title
        %td=m.times[:start]
        %td=link_to("Edit", edit_mission_url(m))
        %td=link_to("Delete", mission_url(m), :method=>:delete)
        %td=link_to("Attendance", mission_attendance_url(m))
=link_to "Add New Mission", new_mission_url()
