%h2.dink=@mission.title
%table.span-14
  %tr
    %td
      Begins:
    %td
      =date_humanize(@mission.start)
  %tr
    %td
      Ends (approximate):
    %td
      =date_humanize(@mission.end)
%h3.dink
  Storyline:
%div{:align=>"left"}
  =RedCloth.new(@mission.storyline).to_html.html_safe
%h3.dink
  Mission Details:
%div{:align=>"left"}
  =RedCloth.new(@mission.description).to_html.html_safe
