$("#attendances").html("<ol>" + <%
@attendances.each do |a|
%>
<%=('"<li>' + a.registration.person.name + ' [" + ').html_safe %>
<%=('\'' + link_to("x",attendance_url(a), :method=>:delete) + '] </li>\' + ').html_safe %>
<% end %>"</ol>");
$("#attendance_person_name").val('');
