#persona.dink
  #persona_img
    %a{:href => "#"}
      = image_tag "nerf-raider.jpg", {:width => "32", :height => "32"}
  #persona_name
    Tom Dooner
  #persona_edit
    edit
= render :partial => "layouts/left_navigation"
