!!!
%html
  %head
    %title Case HvZ
    = render :partial => "layouts/includes"
  %body
    #header
      %h1#site_name.dink 
        %a{:href=>"/"} Case HvZ
      #button_row
        %ul
          %li.button 
            %a{:href => "/players/new"} Registration
          %li.button Rules
          %li.button Squads
          %li.button Missions
          %li.button Contact Admins
    #body
      #body_content
        #left_sidebar.sidebar

          #persona.dink
            #persona_img
              %a{:href => "#"}
                = image_tag "nerf-raider.jpg", {:width => "32", :height => "32"}
            #persona_name
              Tom Dooner
            #persona_edit
              edit

          %ul
            %li
              %a{:href => "#"} My Profile
            %li
              %a{:href => "#"} My Squad
            %li
              %a{:href => "#"} My Achievements
            %li
              %a{:href => "#"} Human Message Board
            %li
              %a{:href => "#"} Log Out
        
        #right_sidebar.sidebar
          %h3.dink
            %a{:href=>"/games/current"} Game Statistics
          %ul
            %li
              %a#count_humans{:href => "/games/current#humans"} Humans: ??
            %li
              %a#count_zombies{:href => "/games/current#zombies"} Zombies: ??
            %li
              %a#count_deceased{:href => "/games/current#deceased"} Deceased: ??
            %li
              %a#count_total{:href => "/games/current"} Total: ???
          %h3.dink
            %a{:href=>"#"} Recently Tagged
          %ul#recently_tagged
            %li
              %a{:href => "#"} Loading...

        #content
          =yield

        #push
          &nbsp;

    #footer_container
      #footer
        Footer Here!!!!!? 
