!!!
%html
  %head
    %title Case HvZ
    = render :partial => "layouts/includes"
  %body
    #header
      %h1#site_name.dink 
        %a{:href=>"/"} Case HvZ
      #button_row
        = render :partial => "layouts/top_navigation"
    #body
      #body_content
        #left_sidebar.sidebar
          - if @logged_in_person.nil?
            You should log in.
          - else
            = render :partial => "layouts/left_persona"
        #right_sidebar.sidebar
          %h3.dink
            %a{:href=>"/games/current"} Game Statistics
          %ul
            %li
              %a#count_humans{:href => "/games/current#humans"} Humans: ??
            %li
              %a#count_zombies{:href => "/games/current#zombies"} Zombies: ??
            %li
              %a#count_deceased{:href => "/games/current#deceased"} Deceased: ??
            %li
              %a#count_total{:href => "/games/current"} Total: ???
          %h3.dink
            %a{:href=>"#"} Recently Tagged
          %ul#recently_tagged
            %li
              %a{:href => "#"} Loading...

        #content
          =yield

        #push
          &nbsp;

    #footer_container
      #footer
        Footer Here!!!!!? 
