!!!
%html
  %head
    %title Case HvZ
    = render :partial => "layouts/includes"
  
  %body
    #header
      %h1#site_name.dink 
        %a{:href=>"/"} Case HvZ
      #button_row
        = render :partial => "layouts/top_navigation"
    #body.expanded
      #body_content
        #left_sidebar.sidebar
          - if @logged_in_person.nil?
            You should log in.
          - else
            = render :partial => "layouts/left_persona"
        #right_sidebar.sidebar
          %h3.dink
            %a{:href=>"#"} Game Statistics
          %ul
            %li
              %a{:href => "#"} Human: 200
            %li
              %a{:href => "#"} Zombie: 200
            %li
              %a{:href => "#"} Deceased: 200
          %h3.dink
            %a{:href=>"#"} Recent Tags
          %ul
            %li
              %a{:href => "#"} Ian Dimayuga
            %li
              %a{:href => "#"} Jacob Snyder
            %li
              %a{:href => "#"} Ken Akiki

        #content
          =yield

        #push
          &nbsp;

    #footer_container
      #footer
        Footer Here!!!!!?
